<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TourGuideApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6466DC7820E8C00B00147072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6466DC8C20E8C00B00147072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6466DC9720E8C00B00147072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
